<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% extends 'home_page.html' %}
    <title>{% block title %}Item Description{% endblock %}</title>
  </head>
  <body>
    <div>
      <ul>
        {% block content %}
        <li>
          <h3>{{ item.name }} {{ item.price }}</h3>
          <p>{{ item.description}}</p>
        </li>
        {% endblock %}
      </ul>
    </div>
  </body>
</html>
